.Cell {
	height: 100px;
	width: 100px;
	background-color: black;
	cursor: pointer;
	border: 1px solid gold;
}

.Cell-lit {
	background-color: lightyellow;
	color: black;
}

.Cell-lit > i {
	margin: 10px;
	color: yellow;
}
